body {
  background-color: #1b5a62;
  font-style: oblique;
  font-weight: bold;
}

<<<<<<< HEAD
.is-hidden {
  display: none;
=======
.body a {
  color: #ffffff;
  font-size: 30px;
  direction: none;
>>>>>>> ea5690d... Reapair modal in first task
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn1 {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
<<<<<<< HEAD
  padding: 20px 20px;
=======
  padding: 3vh;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: relative;
>>>>>>> ea5690d... Reapair modal in first task
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background: #00ff57;
  color: #1b5a62;
  margin-bottom: 60px;
}

#btn-close {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  border: 0;
  background: #d04f4f;
  color: rgba(0, 0, 0, 0.52);
}

#btn-applay {
  letter-spacing: 3px;
  text-decoration: none;
<<<<<<< HEAD
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 30px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  border-radius: 6px;
=======
  font-size: 20px;
  margin-bottom: 9px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
>>>>>>> ea5690d... Reapair modal in first task
  border: 0;
  cursor: pointer;
  border: 0;
  background: #5fd779;
  color: rgba(0, 0, 0, 0.52);
}

.modal-content {
<<<<<<< HEAD
  padding: 20px 30px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
=======
  width: 100%;
  position: relative;
  border: 1px solid #888;
>>>>>>> ea5690d... Reapair modal in first task
  min-height: 300px;
  margin: 10% auto 0;
  border-radius: 4px;
  background: #4cb8d0;
<<<<<<< HEAD
  -webkit-animation-duration: 1.5s;
  animation-name: animateLeft;
=======
  -webkit-animation-name: slideInLeft;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
  color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

>>>>>>> ea5690d... Reapair modal in first task
}

.modal-content h1 {
  text-align: center;
  letter-spacing: 1.9px;
  text-decoration: none;
  position: relative;
  font-size: 46px;
  padding: 40px;
  color: #15494f;
}

.showText {
  font-size: 20px;
  color: #11ed5c;
  text-align: center;
  margin-top: 20px;
}

@keyframes animateLeft {
  from {
    left: -500px;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
