*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #1b5a62;
  font-style: oblique;
  font-weight: bold;
}

.body a {
  color: #ffffff;
  font-size: 30px;
}

.section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 25px;
  background-color: #1D1D1B center/cover no-repeat;
  color: #fff;
}

.section *:not(first-child) {
  margin-top: 30px;
}

.btn1 {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background: #00ff57;
  color: #1b5a62;
}

.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.btn-close {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 30px;
  position: absolute;
  bottom: 10px;
  right: 60px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background: #d04f4f;
  color: rgba(0, 0, 0, 0.52);
}

.btn-applay {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 30px;
position: absolute;
  bottom: 10px;
  left: 60px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background: #5fd779;
  color: rgba(0, 0, 0, 0.52);
}

.modal-content {
  padding: 20px 30px;
  width: 600px;
  position: relative;
  border: 1px solid #888;
  min-height: 300px;
  margin: 10% auto;
  border-radius: 4px;
  background: #4cb8d0;
  -webkit-animation-name: slideInLeft;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.modal-content h1 {
  text-align: center;
  letter-spacing: 1.9px;
  text-decoration: none;
  position: absolute;
  font-size: 46px;
  padding: 40px;
  color: #15494f;
}

.showText {
  position: relative;
  font-size: 20px;
  color: #11ed5c;
  text-align: center;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ********************************* */

/* ===========Task 2 ===============*/

/* ******************************* */

.section-two {
  position: relative;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4%;
  background-color: #ffffff;
  color: #ffffff;
}

.modalHidden {
  display: none;
}

.subbtn {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  border: 0;
  background: #b687df;
  color: #1b5a62;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modalContent {
  color: #2f2f2f;
  background-color: rgba(79, 125, 114, 0.89);
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-animation-name: zoomInDown;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.modalContent h1{
  color: #09e043;
  font-size: 50px;
  text-align: center;

}

.modalContent p {
  font-size: 30px;
  text-align: justify;
  color: #ffffff;
}

.my-btn{
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  display: inline-block;
  transform: translate(-50%, );
  position: relative;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background: #1ce2a6;
  color: #1b5a62;
}

.input {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: solid;
  autocomplete:
}

.textArea {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 250px;
  height: 195px;
  border-style: solid;
  resize: none;
}

@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
