/* ********************************* */

/* ===========Task 1 ===============*/

/* ******************************* */

.body {
  background-color: #1b5a62;
  font-style: oblique;
  font-weight: bold;
}


.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.divbtn1 {
  width: 100px;
  height: 520px;
  display: inline;
  margin-bottom: 20px;
  display: inline-block;
}

.btn1 {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  top: 70%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background: #00ff57;
  color: #1b5a62;
}

.btn-close {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 30px;
  position: absolute;
  bottom: 10px;
  right: 60px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background: #d04f4f;
  color: rgba(0, 0, 0, 0.52);
}

.btn-applay {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 30px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background: #5fd779;
  color: rgba(0, 0, 0, 0.52);
}

.modal-content {
  padding: 20px 30px;
  width: 600px;
  position: absolute;
  border: 1px solid #888;
  min-height: 300px;
  margin: 10% auto;
  border-radius: 4px;
  background: #4cb8d0;
  -webkit-animation-name: slideInLeft;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.modal-content h1 {
  text-align: center;
  letter-spacing: 1.9px;
  text-decoration: none;
  position: absolute;
  font-size: 46px;
  padding: 40px;
  color: #15494f;
}

.showText {
  font-size: 20px;
  color: #11ed5c;
  text-align: center;
  margin-top: 110px;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ********************************* */

/* ===========Task 2 ===============*/

/* ******************************* */

/* buttons */

.btn-input {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  top: 45%;
  left: 30%;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background: #1ce2a6;
  color: #1b5a62;
}

.btn-textArea {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  top: 45%;
  left: 70%;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background: #c3f141;
  color: #1b5a62;
}

.btn-final {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 36px;
  top: 40%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  border: 0;
  background: #a146f2;
  color: #1b5a62;
}

.inputForm {
  top: 30%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  width: 200px;
  height: 30px;
  border-style: solid;
}

.textAreaForm {
  top: 20%;
  right: 10%;
  transform: translate(-10%, -20%);
  position: absolute;
  text-align: center;
  width: 250px;
  height: 95px;
  border-style: solid;
  resize: none;
}

/*Modal input and textarea modal*/

.textOverlay {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.inputModalContent {
  background-color: rgba(28, 226, 166, 0.79);
  border: 1px solid #888;
  left: 50px;
  padding: 20px 30px;
  width: 400px;
  position: absolute;
  border: 1px solid #888;
  min-height: 100px;
  margin: 10% auto 0;
  border-radius: 4px;
  -webkit-animation-name: zoomInLeft;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.textAreaModalContent {
  background-color: rgba(195, 241, 65, 0.79);
  border: 1px solid #888;
  right: 30px;
  padding: 20px 30px;
  width: 400px;
  position: absolute;
  border: 1px solid #888;
  min-height: 150px;
  margin: 10% auto 0;
  border-radius: 4px;
  -webkit-animation-name: zoomInRight;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.finalyModalContent {
  background-color: #fefefe;
  8 border: 1px solid #888;
  width: 30%;
  left: 35%;
  padding: 20px 30px;
  position: absolute;
  border: 1px solid #888;
  min-height: 100px;
  margin: 10% auto 0;
  border-radius: 4px;
  -webkit-animation-name: zoomInDown;
  -webkit-animation-duration: 1.4s;
  z-index: 2;
}

.finalyModalContent h1 {
  color: #09e043;
  font-size: 50px;
  text-align: center;
}

.finalyModalContent p {
  font-size: 30px;
  text-align: justify;
}

.subbtn {
  position: absolute;
  top: 60%;
  left: 30%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.subbtn1 {
  position: absolute;
  top: 76%;
  left: 30%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.close {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  right: 30%;
  top: 70%;
  transform: translateY(-50%);
  &:hover, &:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}

.close1 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 30%;
  top: 85%;
  transform: translateY(-50%);
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.close2 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media all and (max-width:30em){
 .divbtn1{
  display:block;
  margin:0.4em auto;
 }
}


@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
